body {

    font-family: 'Urbanist', sans-serif;

    text-align: center;

    background-color: #F1FAEE;
}

h1 {
    font-size: 90px;
    color: #E63946;
    line-height: 0%;
    margin-top: 50px;
}

h2 {
    font-size: 30px;
    color: #E63946;
    line-height: 0%;
}

p {
    font-size: 18px;
    color: #1D3557;
    line-height: 135%;
}

div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}